* {
	box-sizing: border-box;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

h1 {
	font-size:10vw
}

body {
	background-color: #f1f1f1;
	padding-left: 0.5%;
    padding-top: 0;
}

.fab{
	font-size: 10em;
	color: tomato;
}

.fab:hover {
	color: blue;
}