<!DOCTYPE html>

<html>

	<head>

		<title>BVM</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta charset="utf-8">

		<script src="https://kit.fontawesome.com/518378a3d3.js" crossorigin="anonymous"></script>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}?v=0.8">

		<script src="https://unpkg.com/mithril/mithril.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://d3js.org/d3.v5.min.js"></script>

	</head>

<body>

	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}?v=0.1"></script>

</body>

</html>